@charset "UTF-8";

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html * {
	font-family: 'Cafe24Ssurround', sans-serif;
	text-underline-position: under;
}

.ProseMirror div, .toastui-editor-contents p {
	font-size: 1.5rem;
}

#modalLayer-bg, #modalLayer {
	display: none;
}

#modalLayer-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
}

#modalLayer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #afafaf;
	color:white;
	width: 500px;
	height: 500px;
	border: 5px solid red;
}